<div class="card-category">
<mat-card>
    <mat-card-content>
        <div class="container-category">
            <div class="container-left-category">
                <span><button mat-mini-fab color="primary">
                        <i class="fa-sharp fa-solid fa-sack-dollar"></i>
                    </button></span>
                <span>{{category}}</span>
            </div>
            <div  class="container-right-category">
                <span>
                    <button mat-mini-fab class="edit">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </span>
                <span>
                    <button mat-mini-fab color="warn">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </span>
                <span>
                    <button mat-mini-fab color="primary">
                        <i class="fa-regular fa-building"></i>
                    </button>
                </span>
            </div>
        </div>

    </mat-card-content>
</mat-card>
</div>