<div class="content-advisers">
    <mat-card style="width: 30%;" *ngFor="let adviser of advisers" class="example-card">

        <img mat-card-image [src]="adviser.base64Image" alt="Photo of a Shiba Inu">
        <mat-card-content class="info-adviser">
            <br><br>
            <span>Contacto:</span> {{adviser.cellPhone}}
            <br><br>
            <span>Correo:</span> {{adviser.email}}
        </mat-card-content>
        <mat-card-actions class="actions-footer">
            <button (click)="openEdit(adviser)" class="edit-adviser"  mat-mini-fab>
                <mat-icon>edit</mat-icon>
            </button>
            <button  mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>