<div class="link-externo">
    <div class="lease">
        <h3> Consulte su estado de cuenta de arrendatarios </h3>
        <a mat-fab href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=644&tipo=2" target="_blank">
          <i class="fa-solid fa-house-chimney-user"></i>
        </a>
    </div>
    <div class="sales">
      <ul>
        <li>Descargue su estado de cuenta.</li>
        <li>Descargue su certificado de  ingresos.</li>
        <li>Consulte su factura electronica</li>
      </ul>
      <a mat-fab href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=644&tipo=1" target="_blank">
        <i class="fa-solid fa-receipt"></i>
      </a>
    </div>
  </div>