/* styles.css */
.main{
  background-color: #f7f7f7;
}


  .main-two{
    display: flex;
  }

.container {
  background-position: center;
  min-height: 100vh;
}
.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.img-logo-uri{
  cursor: pointer;
}

header {
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50px;
  left: 0;
  border-bottom: 3px solid #FF0082; 
  
  a{
    font-size: 25px;
    font-weight: bold;
    color: #141595;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
  }
  a:hover{
    background-color: #ffffff;
    opacity: 0.85;
    color: #141595;
  }
}

.logo img {
  height: 150px;
  margin-top: 11px;
}

mat-toolbar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 80px;
  padding: 0 20px;
}


.extended-toolbar {
  width: 100%;
}

.slogan{
  position: absolute;
  top: 178px;
  margin-left: 173px;
  display: flex;
  flex-direction: column;
  span {
    font-size: 100px; 
    color: #000000;
    text-shadow: 4px 4px 6px #FFFFFF;
  }
}

.sub-main {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
  button {
    font-size: 20px;
    padding: 20px 30px;
    margin-left: 20px;
  }
}

.form-field-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.field-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.main-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;	
}

.advertising{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #15188a;
  height: 452px;
}

.menu-options{
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.video-container {
  display: inline-block;
  width: 33.33%;
  position: relative;
  text-align: center;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videos{
  display: flex;
  padding: 10px;
  gap: 15px;
}


.background-image {
  background-image: url('../../../assets/images/Bluesmart.png');
  background-size: contain; /* Puedes probar con "cover" o "100% 100%" */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 70vh;

}