/* styles.css */
.main{
  background-color: f7f7f7;
}

.container {
  background-image: url('../../../assets/images/base1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

header {
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50px;
  left: 0;
  border-bottom: 2px solid #E10098; 

  a{
    font-size: 25px;
    font-weight: bold;
    color: #194052;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  a:hover{
    background-color: #E10098;
    color: #FFFFFF; 
  }
}

.logo img {
  height: 200px;
  width: 200px;
  margin-left: 50px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 80px;
  padding: 0 20px;
}


.extended-toolbar {
  width: 100%;
}

.slogan{
  position: absolute;
  top: 300px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  span {
    font-size: 100px; 
    color: #194052;
    text-shadow: 6px 6px 12px #FFFFFF;
  }
}

.filter {
  display: flex;
  justify-content: center;
  height: 3000px;
  background-color: #f7f7f7;
}


