<div class="main">
  <div class="container">
    <header>
      <mat-toolbar class="extended-toolbar">
        <div class="logo">
          <img src="../../../assets/images/logo.png" alt="Logo de la inmobiliaria">
        </div>
          <a>Inicio</a>
          <a>Venta</a>
          <a>Arriendo</a>
          <a>Blog</a>
          <a>Avalúos</a>
          <a>Escríbenos</a>
      </mat-toolbar>
    </header>
    <h1 class="slogan">
      <span>SU MEJOR</span>
      <span>OPCION </span>
      <span>PARA</span>
      <span>ARRENDAR</span>
    </h1>
  </div>
  <div class="filter">
a
  </div>
  
  
</div>

