.content-appraisals{
  padding: 50px;
}
.more-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Espacio entre la imagen y el párrafo */
}

.more-description img,
.more-description p {
  opacity: 0;
}

.more-description img {
  animation: slide-in-left 1s forwards;
}

.more-description p {
  animation: slide-in-right 1s forwards;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.spacer {
  height: 120px; /* Puedes ajustar la altura según tu preferencia */
}

.content-appraisals{
  height: 100vh;
}

.description-appraisals{
  padding: 30px;
}

.text-container-appraisals{
  padding: 30px;
  background-color: #ececec;
}




.main-container {
  display: flex;
  gap: 18px;
  padding: 20px;
}

.sub-container {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.sub-container h1 {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
}

.sub-container p{
  text-align: justify;
  padding: 30px;
  font-size: 20px;
}

.main-container img {
  margin-top: 12px;
}

.description-two{
  background-color: #9c2f83;
  text-align: justify;
  padding: 30px;
  font-size: 20px;
  color: #f0f0f0;
}

.list-one{
  text-align: start;
}

.lease-list{
  text-align: start;
  padding: 50px;
}
