.nav-general{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    height: 80px;
    padding: 10px;
}

.nav-general-right{
    align-items: center;
    display: flex;
    gap: 20px;
   
    button{
        background-color:  rgb(119 119 148);
        color: white;
    }
}

.nav-general-left{
    align-items: center;
    display: flex;
    gap: 20px;
}