<div class="container">
    <header>
        <mat-toolbar class="extended-toolbar">
            <div class="logo">
                <img src="../../../../assets/images/logo2.png" alt="Logo de la inmobiliaria">
            </div>
            <div class="options-menu">
                <a>Inicio</a>
                <a>Venta</a>
                <a>Arriendo</a>
                <a>Blog</a>
                <a>Avalúos</a>
                <a>Escríbenos</a>
            </div>

        </mat-toolbar>
    </header>
</div>