.img-logo-uri{
    cursor: pointer;
  }
  
  header {
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    border-bottom: 3px solid #FF0082; 
    
    a{
      font-size: 25px;
      font-weight: bold;
      color: #141595;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: none;
    }
    a:hover{
      background-color: #ffffff;
      opacity: 0.85;
      color: #141595;
    }
  }
  
  .logo img {
    height: 130px;
    margin-top: 20px;
    
  }
  .jumping {
    animation: jumpAnimation 0.1s ease-in-out 7 alternate;
  }
  
  @keyframes jumpAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); /* Ajusta la distancia de salto según tu preferencia */
    }
  }
  
  @keyframes jumpAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); /* Ajusta la distancia de salto según tu preferencia */
    }
  }
  mat-toolbar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 80px;
    padding: 0 20px;
  }
  
  
  .extended-toolbar {
    width: 100%;
  }

  .menu-options{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }