
  <bs-menu-secondary class="menu"></bs-menu-secondary>



<div class="filter-container">
  <form [formGroup]="search">
    <div class="filter-row">
      <div class="form-field-wrapper">
        <span class="field-name">Zona:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Todos" formControlName="zones" multiple>
              <mat-option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>pin_drop</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="form-field-wrapper">
        <span class="field-name">Tipo de inmueble:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Todos" formControlName="homeType" multiple>
              <mat-option *ngFor="let homeType of homeTypes" [value]="homeType.id">{{ homeType.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="form-field-wrapper">
        <span class="field-name">Tipo de inmueble:</span>
        <div class="input-wrapper">
          <mat-form-field class="example-full-width">
            <mat-label>Barrio</mat-label>
            <input type="text"
                   placeholder="seleccione"
                   aria-label="Number"
                   matInput
                   [formControl]="district"
                   [matAutocomplete]="auto">
            <mat-autocomplete multiple autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions| async" [value]="option.name">{{option.name}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="form-field-wrapper">
        <span class="field-name">Precio desde:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="desde" placeholder="Desde">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="form-field-wrapper">
        <span class="field-name">Precio hasta:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="hasta" placeholder="Hasta">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field-wrapper">
        <span class="field-name">Habitaciones min:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="minRoom" placeholder="min">
            <mat-icon matSuffix>meeting_room</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field-wrapper">
        <span class="field-name">Baños min:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="minBathRoom" placeholder="min">
            <mat-icon matSuffix>bathroom</mat-icon>
          </mat-form-field>
        </div>
      </div>


      <div class="form-field-wrapper">
        <span class="field-name">Medidas min:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="fromMeasure" placeholder="min">
            <mat-icon matSuffix>straighten</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field-wrapper">
        <span class="field-name">Medidas max:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline" >
            <input matInput type="number" formControlName="toMeasure" placeholder="max">
            <mat-icon matSuffix>straighten</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="form-field-wrapper">
        <span class="field-name">Parqueadero</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="minParking" placeholder="min">
            <mat-icon matSuffix>directions_car</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="form-field-wrapper">
        <span class="field-name">Estrato:</span>
        <div class="input-wrapper">
          <mat-form-field appearance="outline" >
            <input matInput type="number" formControlName="stratum">
            <mat-icon matSuffix>accessibility</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="form-field-wrapper">
        <span class="field-name"></span>
        <div class="input-wrapper">
          <button mat-raised-button color="primary" (click)="searching()">Buscar</button>
        </div>
      </div>
      
    </div>
    
  </form>
</div>