body {
  margin: 0;
  font-family: 'Rubik',sans-serif;
  height: 100vh;
}

@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('../src/assets/fonts/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}