.dashboard-container {
    height: 100%;
}

.dashboard-sidenav-content {
    height: 100%;
}

.dashboard-sidenav {
    padding: 20px;
    background-color: #95237b;
}

.dashboard-content-central{
    margin-top: 20px;
    padding: 20px;
}