
<bs-menu-secondary></bs-menu-secondary>

<div class="contetn-home-services">
<div class="grid">
    <div class="grid-item">
        <h3>Estado de cuenta arrendatarios</h3>
      <img src="../../../../../assets/images/estadocarrendatario.jpeg" alt="Imagen 1">
      <div class="btn-more">
        <a target="_blank" href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=644&tipo=2" mat-raised-button color="primary">Ver más</a>
      </div>
    </div>
    <div class="grid-item">
        <h3>Estado de cuenta de propietarios</h3>
      <img src="../../../../../assets/images/ecuentaprop.jpeg" alt="Imagen 2">
      <div class="btn-more">
        <a  target="_blank" href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=644&tipo=2" mat-raised-button color="primary">Ver más</a>
      </div>
    </div>
    <div class="grid-item">
        <h3>Avaluos</h3>
      <img src="../../../../../assets/images/avaluo.jpeg" alt="Imagen 3">
      <div class="btn-more">
        <button mat-raised-button [routerLink]="['/avaluos']" color="primary">Ver más</button>
      </div>
    </div>
    <div class="grid-item">
        <h3>Ventas y Arriendos</h3>
      <img src="../../../../../assets/images/ventasyarriendos.jpeg" alt="Imagen 4">
      <div class="btn-more">
        <button mat-raised-button [routerLink]="['/ventasyarriendos']" color="primary">Ver más</button>
      </div>
    </div>
    <div class="grid-item">
        <h3>Gerencia y Venta de proyectos</h3>
      <img src="../../../../../assets/images/gerenciayvp.jpeg" alt="Imagen 5">
      <div class="btn-more">
        <button mat-raised-button [routerLink]="['/gerencia-y-venta-de-proyectos']" color="primary">Ver más</button>
      </div>
    </div>
    <div class="grid-item">
        <h3>Consultoría jurídica</h3>
      <img src="../../../../../assets/images/consjuridica.jpeg" alt="Imagen 6">
      <div class="btn-more">
        <button mat-raised-button [routerLink]="['/consultoria-juridica']" color="primary">Ver más</button>
      </div>
    </div>
  </div>
</div>

<bs-footer> </bs-footer>
