<div class="buscador">
  <mat-form-field class="example-full-width">
    <mat-label>Buscador Por Codigo</mat-label>
    <input matInput #codigoInput>
  </mat-form-field>
  <button mat-mini-fab matTooltip="Buscar" color="primary" aria-label="Buscar" (click)="buscarPorCodigo(codigoInput.value)">
    <mat-icon>search</mat-icon>
  </button>
</div>
<table mat-table [dataSource]="tarjetas">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Codigo </th>
    <td mat-cell *matCellDef="let tarjeta"> {{ tarjeta.name }} </td>
  </ng-container>

  <ng-container matColumnDef="zona">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Zona </th>
    <td mat-cell *matCellDef="let tarjeta"> {{ tarjeta.zone }} </td>
  </ng-container>

  <ng-container matColumnDef="tipoInmueble">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Tipo de Inmueble </th>
    <td mat-cell *matCellDef="let tarjeta"> {{ tarjeta.district }} </td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Precio </th>
    <td mat-cell *matCellDef="let tarjeta">
      {{ (tarjeta?.price | currency:'USD':'symbol':'1.0-0')?.replace('.00', '') }}
    </td>
  </ng-container>  

  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Categoría </th>
    <td mat-cell *matCellDef="let tarjeta">
      {{ getCategoriaTexto(tarjeta.category) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="activar">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Activar </th>
    <td mat-cell *matCellDef="let tarjeta">
      <mat-checkbox [(ngModel)]="tarjeta.home.status" [color]="'primary'"
        (click)="$event.stopPropagation(); updateStatus(tarjeta.id)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="favorito">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Favorito </th>
    <td mat-cell *matCellDef="let tarjeta">
      <mat-checkbox [(ngModel)]="tarjeta.home.favorite"
        (click)="$event.stopPropagation(); updateFavorite(tarjeta.id)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="informacion">
    <th mat-header-cell *matHeaderCellDef class="cabecera"> Información </th>
    <td mat-cell *matCellDef="let tarjeta">
      <button mat-icon-button (click)="showInfo(tarjeta.id)" [color]="'primary'"> 
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row
    *matHeaderRowDef="['nombre', 'zona', 'tipoInmueble', 'precio', 'categoria', 'activar', 'favorito', 'informacion']">
  </tr>
  <tr mat-row
    *matRowDef="let tarjeta; columns: ['nombre', 'zona', 'tipoInmueble', 'precio', 'categoria', 'activar', 'favorito', 'informacion']">
  </tr>

</table>
<div class="paginator">
  <mat-paginator #paginatorReports [length]="length" [pageSize]="pageSize" (page)="pageEvent($event)"
    [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>