.content-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
    justify-content: center;
}

.favorites-text {
    background-color: #dddde6;
    width: 93px;
    padding: 12px;
    margin-bottom: -1px;
}